@font-face{
    font-family: 'arnorg';
    src: url('../fonts/ARNORG_.TTF');
    font-weight: normal;
    font-size: normal;
}

*{
    font-family: 'arnorg';    
    
}
.card-body {
    padding: 2rem 0 i !important;
}

.card-text {
    padding: 0.3rem 1rem;
    font-size: 1rem;
}

.card-img-top {
    transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.8);
}

.overflow {
    overflow: hidden;
}

.footer .social-line i:hover {
    color: #FFD929;
}