@font-face{
    font-family: 'arnorg';
    src: url('../fonts/ARNORG_.TTF');
    font-weight: normal;
    font-size: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

*{
    font-family: 'arnorg';  
    
}
.card-body {
    padding: 2rem 0 i !important;
}

.card-text {
    padding: 0.3rem 1rem;
    font-size: 1rem;
}

.card-img-top {
    transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.8);
}

.overflow {
    overflow: hidden;
}

.footer .social-line i:hover {
    color: #FFD929;
}

#episodie p {
    font-family: 'Montserrat', sans-serif;  
}

#season {
    font-family: 'Montserrat', sans-serif;  
}

#arrow {
    color:white; 
}

#arrow:hover {
    color: #FFD929 !important;
}

.page-header .page-header-image {
    z-index: 0;
}

.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #e1ffff;
  }


#siderbar h4{
    color: #FFD929;
    text-shadow: 0 0 5px #000!important;
    margin-top: 0;
    margin-bottom: 0;
}


#siderbar h5{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.icon {
    background: url('../img/cafecito.ico');
    height: 20px;
    width: 20px;
    display: block;
}