@font-face{
    font-family: 'arnorg';
    src: url('../fonts/ARNORG_.TTF');
    font-weight: normal;
    font-size: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

*{
    font-family: 'arnorg';  
    
}
.card-body {
    padding: 2rem 0 i !important;
}

.card-text {
    padding: 0.3rem 1rem;
    font-size: 1rem;
}

.card-img-top {
    transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.8);
}

.overflow {
    overflow: hidden;
}

.footer .social-line i:hover {
    color: #FFD929;
}

#episodie p {
    font-family: 'Montserrat', sans-serif;  
}

#season p{
    font-family: 'Montserrat', sans-serif;  
}