{% load static %}
<footer class="footer">
    <div class="social-line social-line-big-icons social-line-black">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="#pablo" class="btn btn-outline-default btn-icon btn-footer">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#pablo" class="btn btn-outline-default btn-icon btn-footer">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#pablo" class="btn btn-outline-default btn-icon btn-footer">
                        <i class="fab fa-google-plus"></i>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#pablo" class="btn btn-outline-default btn-icon btn-footer">
                        <i class="fab fa-dribbble"></i>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#pablo" class="btn btn-outline-default btn-icon btn-footer">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#pablo" class="btn btn-outline-default btn-icon btn-footer">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>