{% extends 'baseregistration.html' %}
{% block title %}Editar {{object.name}}{% endblock %}
{% block content %}
<div class="col-md-10 mx-auto mb-auto">
    <div class="contact-title">
        <h2 class="text-center">Editar {{object.name}}</h2>
    </div>
    {% if 'ok' in request.GET %}
    <p style="color: green;">
        Episodio editada correctamente
        <a href="{% url 'caps:episodieDetail' object.slug %}">Haz click aqui para ir al episodio editado</a>
    </p>
    {% endif %}
    <form action="" method="post" enctype='multipart/form-data'>{% csrf_token %}
        {{form.as_p}}
        <p><input type="submit" class="btn btn-primary btn-block" value="Editar"></p>
    </form>
</div>
<a href="{% url 'admin_caps:updateSeason' object.season.slug %}" class="btn btn-danger btn-lg">Volver a la temporada {{object.season}}</a>
{% endblock %}