{% extends 'baseregistration.html' %}
{% block title %}Editar la temporada {{object.name}}{% endblock %}
{% block content %}
{% block ExtraCss %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.j's %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock ExtraCss %}
<div class="col-md-10 mx-auto mb-5">
    <div class="contact-title">
        <h2 class="text-center">Editar la temporada {{object.name}}</h2>
    </div>
    {% if 'ok' in request.GET %}
    <p style="color: green;">
        Temporada editada correctamente
    </p>
    {% endif %}
    <form action="" method="post" enctype='multipart/form-data'>{% csrf_token %}
        {{form.as_p}}
        <p><input type="submit" class="btn btn-primary btn-block" value="Crear"></p>
    </form>
</div>
{% endblock %}