{% extends 'baseregistration.html' %}
{% block title %}Lista de contactos{% endblock %}
{% block content %}
<div class="contact-title">
    <h2 class="text-center">Redes sociales</h2>
</div>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Red social</th>
            <th>Link</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for social in socials %}
        <tr>
            <td class="text-center">{{ forloop.counter }}</td>
            <td>
                <!--Instagram-->
                {% if social.name == 'Instagram' %}
                <button class="btn btn-dribbble">
                    <i class="fab fa-instagram">{{ social.name }}</i>
                </button>
                <!--Facebook-->
                {% elif social.name == 'Facebook' %}
                <button class="btn btn-facebook">
                    <i class="fab fa-facebook">{{ social.name }}</i>
                </button>
                <!--Twiter-->
                {% elif social.name == 'Twitter' %}
                <button class="btn btn-twitter">
                    <i class="fab fa-twitter">{{ social.name }}</i>
                </button>
                <!--Youtube-->
                {% elif social.name == 'Youtube' %}
                <button class="btn btn-youtube">
                    <i class="fab fa-youtube">{{ social.name }}</i>
                </button>
                <!--Telegram-->
                {% elif social.name == 'Twitch' %}
                <button class="btn btn-behance">
                    <i class="fab fa-telegram">{{ social.name }}</i>
                </button>
                {% endif %}
            </td>
            <td>{{social.link}}</td>
            <td class="td-actions text-right">
                <a type="button" rel="tooltip" href="{% url 'socialUpdate' social.id %}"
                    class="btn btn-success btn-icon btn-sm " data-original-title="" title="">
                    <i class="now-ui-icons ui-1_settings-gear-63"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}