{% extends 'base.html' %}
{% load static %}
{% block title %}El Arnoldo{% endblock %}
{% block name %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 ml-auto mr-auto text-center">
        <h1 class="title">
            Todas las temporadas
        </h1>
    </div>
</div>
<div class="row">    
    <div id='siderbar' class="col-3 d-md-block sidebar">
        <h4 class="title">
        Esucha nuestro ultimo podcast
        </h4>
        <iframe src="https://open.spotify.com/embed-podcast/show/5SgZv8DvbB7iUFXt4ZIeca" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <h5>
            Podés apoyar al podcast y ayudarnos a mantener la web invitandonos un mantecado
        </h5>
        <a href='https://cafecito.app/elarnoldo' class='btn' style="background-color: #48b3e7;" role="button" rel='noopener' target='_blank'> ¡Apoyanos con un Mantecado!</a>
        {% if youtube.link %}
        <h4 class="title">
            Suscribite
        </h4>
        <a href="{{youtube.link}}" target='_blank' class="btn btn-youtube btn-lg" role="button">YouTube</a>
        {% endif %}
    </div>
    <div class="col-9">
        <div class="row">
            {% for season in seasons %}
            <div class="col-md-6">
                <div class="card">
                    <div class="overflow">
                        <a href="{% url 'caps:season' season.slug %}">
                            {% if season.image %}
                            <img class="card-img-top" src="{{ season.image.url }}" width="350px" height="400px" alt="">
                            {% else %}
                            <img src="{% static './assets/img/unset.jpg'%}" alt="" class="card-img-top">
                            {% endif %}
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ season.name }}</h4>
                        <a href="{% url 'caps:season' season.slug %}" class="btn btn-primary"
                            style="background-color: #FFD929;">Ver</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}