{% extends 'base.html' %}
{% load static %}
{% block title %}El Arnoldo{% endblock %}
{% block name %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 ml-auto mr-auto text-center">
        <h1 class="title">
            Todas las temporadas
        </h1>
    </div>
</div>
<div class="row">
    <div id='siderbar' class="col-3 ml-auto mr-auto d-none d-lg-block sidebar">
        <h4 class="title">
            Esucha nuestro ultimo podcast
        </h4>
        <iframe src="https://open.spotify.com/embed-podcast/show/5SgZv8DvbB7iUFXt4ZIeca" width="100%" height="232"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <h5>
            Podés apoyar al podcast y ayudarnos a mantener la web invitandonos un mantecado
        </h5>
        <a href='https://cafecito.app/elarnoldo' rel='noopener' target='_blank'><img
                srcset='https://cdn.cafecito.app/imgs/buttons/button_6.png 1x, https://cdn.cafecito.app/imgs/buttons/button_6_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_6_3.75x.png 3.75x'
                src='https://cdn.cafecito.app/imgs/buttons/button_6.png' alt='Invitame un café en cafecito.app' /></a>
        {% if youtube.link %}
        <h4 class="title">
            Suscribite
        </h4>
        <a href="{{youtube.link}}" target='_blank' class="btn btn-youtube btn-lg" role="button">
            <i class="fab fa-youtube"></i> YouTube</a>
        {% endif %}
    </div>
    <div class="col-9 ml-auto mr-auto">
        <div class="row">
            {% for season in seasons %}
            <div class="col-md-6 mr-auto">
                <div class="card">
                    <div class="overflow">
                        <a href="{% url 'caps:season' season.slug %}">
                            {% if season.image %}
                            <img class="card-img-top" src="{{ season.image.url }}" width="350px" height="400px" alt="">
                            {% else %}
                            <img src="{% static './assets/img/unset.jpg'%}" alt="" class="card-img-top">
                            {% endif %}
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ season.name }}</h4>
                        <a href="{% url 'caps:season' season.slug %}" class="btn btn-primary"
                            style="background-color: #FFD929;">Ver</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}